<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<%= form_with(model: [@company, @employee], local: true) do |form| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.hidden_field :company_id, value: @company.id %>
  </div>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :area %>
    <%= form.select :area_id, Area.pluck(:name, :id) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<table class="table">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Area</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @company.employees.each do |employee| %>
		<tr>
			<td><%= employee.first_name %></td>
			<td><%= employee.last_name %></td>
			<td><%= employee.email %></td>
			<td><%= employee.area.name %></td>
			<td> <%= link_to("Borrar", [employee.company, employee] , method: :delete) %> </td>
		</tr>
	<% end %>
	</tbody>
</table>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
